.LoginForm{
  background-color: #FFDB58;
  width: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 1.5px 6px;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 0 auto;
}

.Log{
  margin-top: -3px;
}
.use{
  margin-top: -5px;
}
button{
  color: aliceblue;
  background-color: forestgreen;
  border-radius: 5px;
  border: none;
  height: 4vh;
  cursor: pointer;
  width: 80%;
}

input{
  border: none;
  height: 4vh;
  text-indent: 5px;
}

::placeholder {
  outline: none;
  text-indent: 5px;
  border-style: none;

}
@media only screen and (max-width: 767px) {
  .LoginForm {
    width: 100%;
    height: 60vh;
  }
  .use{
    margin-top: -10px;
  }

  input,
  button {
    width: 80%;
    height: 5vh;
    border-radius: 5px;
  }
  
  .Log {
    margin-top: 10px;
    font-size: 35px;
    
  }
}
