.user-list-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(pexels.jpg);
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.detail {
  color: white;
}

/* Adjustments for Responsive Design */

@media only screen and (max-width: 767px) {
  .user-list-container {
    max-width: 100%;
    padding: 10px;
  }
  
  body {
    height: auto;
    padding: 20px;
  }
  
  .detail {
    font-size: 14px;
  }
}
