.user-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
  height: auto;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(pexels.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100cqh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.detail{
  color: white;
}

